<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Express Flights</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="nav">
      <div><a href="/students">Student List</a></div>
      
  </div>
<section class="main">
<h2>Signup Page</h2>
<form action="/students" method="POST">
  
  <label>First Name:
    <input class="input" type="text" name="firstname">
  </label><br>
  <label>Last Name:
    <input class="input" type="text" name="lastname">
  </label><br>
  <label>StudentID:
    <input class="input" type="number" name="sid">
  </label><br>
  <input id = "signupbt" type="submit" value="Signup">
 
</form>
</section>
</body>
</html>